{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2>Resultado del Pago</h2>
  <p>{{ mensaje }}</p>

  <h3>Resumen Webpay:</h3>
  <ul>
    <li><strong>Orden:</strong> {{ respuesta.buy_order }}</li>
    <li><strong>Estado:</strong> {{ respuesta.status }}</li>
    <li><strong>Tarjeta:</strong> **** **** **** {{ respuesta.card_detail.card_number }}</li>
    <li><strong>Fecha:</strong> {{ respuesta.transaction_date }}</li>
    <li><strong>Autorization Code:</strong> {{ respuesta.authorization_code }}</li>
  </ul>

  <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
</div>

{% endblock %}
